[submodule "free5gc-debian-packages"]
	path = free5gc-debian-packages
	url = https://github.com/jerry73204/free5gc-debian-packages.git
[submodule "USRANSIM-debian-packages"]
	path = USRANSIM-debian-packages
	url = https://github.com/jerry73204/USRANSIM-debian-packages.git
